@charset "UTF-8";

* {
  margin: 0;
}

body {
  background: lightblue;
  /*             display: grid;
    grid-template: "header header" 100px
                    "main aside" 2fr 
                    "footer footer" 100px
                    / 2fr 1fr; */
}

header,
footer {
  background: lightgreen;
}

header {
  /* grid-area: header; */
}

footer {
  /*  grid-area: footer; */
}

aside {
  background: lightyellow;
  /* grid-area: aside; */
}

section {
  background: lightsalmon;
}

main {
  display: flex;
  /* grid-area: main; */
}

table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
}

/*         thead {
    background: lightcoral;
}
tfoot {
    background: lightseagreen;
}
tbody {
    background: rgb(10, 124, 162);
} 
*/
caption {
  text-indent: 1.25cm;
  text-align: left;
}

.pink {
  background: pink;
}

.red {
  background: red;
}

form {
  border: 1px solid black;
}
#password {
  background: yellow;
}
input[type="tel"] {
  background: beige;
}
::placeholder {
  color: blue;
}
header > a {
  background: yellow;
}
header a {
  background: yellow;
}
abbr + a {
  background: rgb(3, 254, 250);
}
abbr ~ a {
  background: rgb(3, 254, 250);
}
a:hover {
  background: white;
}
a:active {
  background: blue;
}
a:link {
  color: rgb(26, 255, 0);
}
a:visited {
  color: rgb(255, 0, 43);
}
:checked {
  width: 30px;
  height: 30px;
}
:default {
  width: 30px;
  height: 30px;
}
:disabled {
  background: rgb(103, 103, 126);
}
textarea:enabled {
  background: rgb(208, 199, 199);
}
p:empty {
  padding-top: 50px;
}
.ol-list > li:first-child {
  background: yellow;
}
.ol-list > li:last-child {
  background: yellow;
}
.ol-list > li:nth-child(2) {
  background: green;
}
.dl-list > :first-of-type {
  background: rgb(3, 254, 250);
}
.dl-list > :last-of-type {
  background: rgb(3, 254, 250);
}
.dl-list > :nth-of-type(even) {
  background: rgb(25, 34, 218);
}
.ul-list > li:only-child {
  background: red;
}
.dl-list-2 > :only-of-type {
  background: green;
}
.ol-list-2 > li:nth-last-of-type(1) {
  background: rgb(247, 0, 255);
}
:focus {
  outline: 5px solid blue;
}
.ol-list-2 > li:not(:nth-last-child(1)) {
  background: rgb(226, 65, 11);
}
:optional {
  border: 5px solid green;
}
:required {
  border: 5px solid rgb(200, 11, 11);
}
input:valid {
  background: lightblue;
}
input:invalid {
  background: rgb(229, 166, 152);
}
input[type="number"]:in-range {
  background: greenyellow;
}
input[type="number"]:out-of-range {
  background: red;
}
::placeholder {
  color: red;
}
:placeholder-shown {
  font-size: 15px;
}
textarea:read-only {
  font-size: 25px;
}
textarea:read-write {
  font-size: 10px;
}
.block {
  display: block;
  background: pink;
  height: 100px;
/*   margin: 5px 6px 7px 8px;
  margin-right: 10px;
  padding: 10px 9px 8px 7px;
  padding-bottom: 10px; */
  box-sizing: border-box;
  visibility: visible;
}
@media screen and (max-width: 1000px) {
  h1 {
    color: whitesmoke;
  }
}
@media screen and (max-height: 400px) {
  header {
    background: rgb(218, 117, 117);
  }
}
.div-main {
  height: 250px;
  border: 2px solid black;
  position: sticky;
  overflow: hidden;
}
.div-main > div:first-child {
  height: 200px;
  width: 400px;
  float: left;
  padding: 10px;
  margin: 20px;
/*   background-color: brown;
  background-image: url("/picture.jpg");
  background-size: 400px 200px;
  background-repeat: no-repeat;
  background-position: center right;
  background-clip: content-box;
  background-attachment: local; */
  background: brown url("/picture.jpg") center right / 400px 200px no-repeat content-box local;
 /*  border: 10px dashed red; */
  border-width: 10px;
  border-style: dashed;
  border-color: red;
  border-top-width: 10px;
  border-right-width: 15px;
  border-bottom-width: 20px;
  border-left-width: 25px;
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: double;
  border-left-style: dashed;
  border-top-color:rgb(3, 254, 250);
  border-right-color:rgba(155, 176, 57, 0.2);
  border-bottom-color: #f4d;
  border-left-color: red;
  border-radius: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  outline: 10px solid green;
  outline-width: 10px;
  outline-style: solid;
  outline-color: green;
  outline-offset: 10px;
  box-shadow: 4px 4px 10px black;
  font-family: "Neue Machina";
  font-size: 20px;

}
.div-main > div:last-child {
  width: 200px;
  position: relative;
  float: right;
  margin-left: -100px;
  background: rgba(155, 176, 57, 0.8);
  z-index: 2;
}
article {
  position: relative;
  top: 5px;
  left: 5px;
}